# app configuration
HOMEDY_ENV=production # or development
HOMEDY_PORT=8080 # server port
HOMEDY_SECRET="app secret" # password for access app crucial
HOMEDY_BACKEND_URL=api.homedy.com # backend url
HOMEDY_FRONTEND_URL=homedy.com # frontend url

# RDBMS = postgres 18
HOMEDY_DB_HOST=localhost
HOMEDY_DB_PORT=5432
HOMEDY_DB_USER=user
HOMEDY_DB_PASS=password
HOMEDY_DB_NAME=homedy_db

# redis
HOMEDY_REDIS_ADDR=localhost:6379
HOMEDY_REDIS_PASS=password

# oauth
# github
HOMEDY_G_O_CLIENT_ID="your_github_oauth_client_id"
HOMEDY_G_O_CLIENT_SECRET="your_github_oauth_client_secret"

# jwt secrets
HOMEDY_REFRESH_SECRET="super long secret" # for refresh token auth
HOMEDY_ACCESS_SECRET="long secret" # for access token auth

# terminal config
HOMEDY_TERMINAL_USER=homedy # user used in terminal

# mail config
HOMEDY_MAIL_HOST=smtp.resend.com
HOMEDY_MAIL_USER=resend
HOMEDY_MAIL_FROM=yourmaileremail@domain.com
HOMEDY_MAIL_PASS="your api key"
HOMEDY_MAIL_OWNER=youremail@gmail.com

# keys (aes b64)
HOMEDY_SIGNUP_IDENTIFIER_KEY="YxBbsDdicJILDw1NNDL1Th+J00FpyV6rPzs/oW+H/nc="  # key for sign up identifier url query
HOMEDY_NOTE_CRYPTO_KEY="b2kmDqnbEo83IbRl3m5x/Y4Uv7jfQtfpg3DuD+QZyUw=" # key for crypto title & content in note
HOMEDY_G_O_CRYPTO_KEY="VHmEFXZRFnWgKOdpJPS+K7/AIBFkPcI8AmnH4GFcbQw=" # key for github oauth token
HOMEDY_DEPLOY_ENV_CRYPTO_KEY="c+X5IFTp/Dbh2KDuy0J4Qkl+0z7rnQesEMaC4/syLmk=" # key for crypto env in deployment feature