HOMEDY_ENV=production # or development
HOMEDY_PORT=8080 # server port

# RDBMS = postgres 18
HOMEDY_DB_HOST=localhost
HOMEDY_DB_PORT=5432
HOMEDY_DB_USER=user
HOMEDY_DB_PASS=password
HOMEDY_DB_NAME=hoshify_db

HOMEDY_REFRESH_SECRET="super long secret" # for refresh token auth
HOMEDY_ACCESS_SECRET="long secret" # for access token auth